@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Poppins:wght@300;400;500;600&display=swap');
:root {
    --gray: #d3d7e4;
    --blue: #413df7;
    --label: #222222;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--gray);
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    margin-top: 8rem;
    padding: 2rem 1rem;
    background-color: #ffff;
    width: calc(100% - 10%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    padding: 0 1rem;
}

.logo {
    display: block;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: .4rem;
}

.logo::before {
    display: block;
    content: " ";
    width: 1rem;
    border-radius: .2rem;
    height: 1rem;
    background-color: var(--blue);
}

.login {
    font-weight: 600;
    font-size: .8rem;
}

.login span {
    color: var(--blue);
}

section {
    padding: 0 1rem;
    margin-top: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
}

label {
    color: var(--label);
    font-weight: 400;
}

input {
    margin: 1.3rem 0;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid var(--gray);
    outline-color: transparent;
}

button {
    background-color: var(--blue);
    color: #ffff;
    border-radius: .4rem;
    border: none;
    padding: 1.2rem;
    font-size: 1.1rem;
    margin-top: 1rem;
    cursor: pointer;
}

.dropdown-container {
    position: relative;
    display: inline-block;
}

.dropdown-btn {
    background-color: #3498db;
    color: #ffffff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.dropdown-container:focus-within .dropdown {
    display: block;
    opacity: 1;
}

.dropdown-btn:focus {
    outline: none;
}

.dropdown-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s ease-in-out;
}

.dropdown-item:last-child {
    border-bottom: none;
}

.dropdown-item:hover {
    background-color: #ddd;
}

@media screen and (min-width: 768px) {
    body {
        background-color: var(--label);
    }
}

@media screen and (min-width: 1024px) {
    body {
        background-color: var(--blue);
    }
    main {
        margin-top: 4rem;
    }
}