@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Poppins:wght@300;400;500&display=swap');
:root {
    --white-bg: #ffff;
    --gray: #dedede;
    --pink: #f9d9e0;
    --teal: #69bfc8;
    --violet: #c7acee;
    --mustard: #fade7e;
    --sky: #90c3ff;
}

*,
html {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}


/*NAVBAR*/

.nav-container {
    position: relative;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 2rem 3.5rem;
}

.nav-right {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.nav-btn-white {
    border: var(--gray) 1px solid;
    border-radius: 1rem;
    padding: .8em 1.5em;
    background-color: var(--white-bg);
    color: black;
    font-weight: bold;
}

.nav-btn-black {
    border: var(--gray) 1px solid;
    border-radius: 1rem;
    padding: .8em 1.5em;
    background-color: black;
    color: var(--white-bg);
    font-weight: bold;
}

.nav-menu {
    border: none;
    background-color: var(--white-bg);
}


/*MAIN CONTENT*/

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.main-text h1 {
    font-size: 3.1rem;
    text-align: center;
    font-weight: 900;
}

.main-text h3 {
    font-weight: 400;
    margin: 1rem 0;
}

.search-form {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    gap: .4rem;
}

.search-bar {
    display: flex;
    align-items: center;
    border: black 2px solid;
    border-radius: 1.5rem;
    padding: .8rem 1.5rem;
    width: 250px;
}

.search-bar input {
    border: none;
    outline: none;
    margin-left: .3rem;
    width: 100%;
}

.search-btn {
    border: var(--gray) 1px solid;
    border-radius: 1rem;
    padding: .8rem 1.6rem;
    background-color: black;
    border: black 1px solid;
    color: var(--white-bg);
    font-weight: bold;
    cursor: pointer;
    transition: all .2s;
}

.search-btn:hover {
    transform: scale(1.1);
}

.bx {
    font-size: 19px;
}


/*CARDS CONTAINER*/

.cards-container {
    margin: 3rem;
    width: calc(90% - 10rem);
    height: 200px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: .5rem;
    grid-template-areas: "card1 card1 card2 card2 card3 card3" "card4 card5 card2 card2 card6 card6";
}

.card1 {
    grid-area: card1;
    background-color: var(--pink);
    border-radius: 1.2rem;
}

.card2 {
    grid-area: card2;
    background-color: black;
    border-radius: 1.2rem;
}

.card3 {
    grid-area: card3;
    background-color: var(--mustard);
    border-radius: 1.2rem;
}

.card4 {
    grid-area: card4;
    background-color: var(--teal);
    border-radius: 1.2rem;
}

.card5 {
    grid-area: card5;
    background-color: var(--violet);
    border-radius: 1.2rem;
}

.card6 {
    grid-area: card6;
    background-color: var(--sky);
    border-radius: 1.2rem;
}


/*MOBILE*/

@media screen and (max-width: 767px) {
    .nav-container {
        padding: 1rem;
    }
    .nav-btn-black {
        display: none;
    }
    .nav-btn-white {
        display: none;
    }
    .main-container {
        display: flex;
        justify-content: center;
        padding: 0 1rem;
    }
    .main-text h1 {
        display: flex;
        justify-content: center;
        font-size: 1.8rem;
        text-align: center;
        font-weight: 900;
    }
    .main-text h3 {
        text-align: center;
        font-size: .9rem;
    }
    .search-form {
        display: flex;
        flex-direction: column;
    }
    .search-bar {
        width: calc(100% - 2rem);
    }
    .cards-container {
        margin: 3rem;
        width: calc(100% - 2rem);
        height: auto;
        display: grid;
        grid-template-columns: none;
        grid-template-rows: repeat(6, 100px);
        gap: .5rem;
        grid-template-areas: "card1" "card2" "card3" "card4" "card5" "card6";
    }
}