:root {
    --bg-primary: #f6f3f7;
    --bg-secondary: #fff;
    --blue-primary: #0559fd;
    --blue-secondary: #161950;
    --side-bar-items: #aeb3be;
    --card-bg: #000a1f;
    --bg-banner: #072a5c;
    --banner-title-span: #0e46ab;
    --creators-border: #a4aefa;
}

*,
html {
    margin: 0;
    padding: 0;
}

body {
    background: var(--bg-primary);
    margin: 1rem;
    overflow-x: hidden;
}

.main-content {
    display: flex;
    flex-direction: column;
}


/*SIDEBAR*/

.side-bar-container {
    background-color: var(--bg-secondary);
    width: 3rem;
    height: 85vh;
    border-radius: 0.4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
    position: absolute;
}

.logo {
    font-size: 22px;
    background: var(--blue-secondary);
    color: var(--bg-secondary);
    height: 2.2rem;
    width: 2.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    margin-left: 1rem;
}

.items-container {
    list-style: none;
    margin: 5rem 0 0;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.item {
    color: var(--side-bar-items);
}

.item:hover {
    cursor: pointer;
}

.item-selected {
    color: var(--blue-primary);
    border-right: var(--blue-primary) 3px solid;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

.item-selected:hover {
    cursor: pointer;
}

.button-gear {
    background-color: transparent;
    border: none;
}


/*NAVBAR*/

.navbar-container {
    margin-left: 8%;
    width: 100vw;
    display: flex;
    align-items: center;
    height: 10vh;
}

.navbar-search {
    background-color: var(--bg-secondary);
    height: 2rem;
    padding: 0.5rem;
    padding-right: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.4rem;
}

.navbar-search i {
    width: 1.5rem;
    border-right: var(--side-bar-items) 1px solid;
}

.navbar-search input {
    border: none;
    padding-left: 1rem;
}

.navbar-search input::placeholder {
    color: var(--side-bar-items);
}

.navbar-search input:focus {
    outline: none;
}

.nav-btn-container {
    margin: 0 3rem;
    display: flex;
    list-style: none;
    align-items: center;
    gap: 2rem;
}

.selected-nav-btn {
    background-color: var(--blue-secondary);
    color: var(--bg-secondary);
    width: 6rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.4rem;
    font-weight: bold;
}

.nav-btn {
    background-color: var(--bg-secondary);
    color: var(--blue-secondary);
    width: 6rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.4rem;
}

.selected-nav-btn,
.nav-btn:hover {
    cursor: pointer;
}

.nav-bell {
    border: var(--side-bar-items) 1px solid;
    padding: 0.5rem;
    height: 1.5rem;
    width: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.red-dot {
    height: 5px;
    width: 5px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: 6%;
    margin-left: 0.6rem;
}

.green-dot {
    height: 8px;
    width: 8px;
    background-color: green;
    border-radius: 50%;
    position: absolute;
    right: 7.6rem;
}

.nav-img {
    margin: 0 1rem 0 2rem;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    object-fit: cover;
}

.nav-name p {
    font-weight: bold;
}

.nav-name small {
    color: var(--side-bar-items);
    font-size: 13px;
}


/*MAIN CONTENT*/

.main-side-section-container {
    margin-left: 8%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.main-section {
    grid-column: span 4;
    padding: 1rem 2.8rem 2rem 0;
}

.banner {
    background-color: var(--bg-banner);
    border-radius: 1rem;
    padding: 1.8rem 3.5rem;
}

.banner-title {
    color: var(--bg-secondary);
    font-size: 32px;
    font-weight: 400;
}

.banner-title span {
    color: var(--banner-title-span);
    font-size: 32px;
}

.banner-btn-container {
    margin-top: 1rem;
    display: flex;
    gap: 1.6rem;
}

.blue-btn {
    border: none;
    background-color: var(--blue-primary);
    color: var(--bg-secondary);
    padding: 0.8rem 1rem;
    border-radius: 0.5rem;
    font-weight: bold;
}

.white-btn {
    border: none;
    background-color: var(--bg-secondary);
    color: var(--card-bg);
    padding: 0.8rem 1rem;
    border-radius: 0.5rem;
    font-weight: bold;
}

.sub-title {
    margin: 1.5rem 0;
    font-size: 19px;
    font-weight: 400;
    color: var(--card-bg);
    letter-spacing: 1px;
}

.creator-img-container {
    display: flex;
    gap: 2rem;
}

.creator-img-border {
    border: var(--creators-border) 1px solid;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.creator-img {
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
    object-fit: cover;
}

.view-all {
    color: var(--blue-primary);
    font-weight: 600;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 0.3rem;
}

.view-all i {
    font-size: 10px;
}

.side {
    background-color: #161950;
    grid-column: span 2;
    height: 80vh;
}